<html>
<head>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/bootstrap/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>File list:</title>
</head>
<body >
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 50px;" >
     <div class="container-fluid">
    <p class="navbar-right"><a href="{{logout_url}}" class="btn .btn-primary btn-lg">Log Out</a></p>
    <div class="navbar-header" align="center" ><h3><a href="/" style="color:#BDC3C7">DropBox Service</a></h3></div>
  	</div>
  </nav>
  <div class ="container" style="padding-top: 100px;" >
   {% for f in file_info %}
    	<div class = "row">
    	<div class="col-sm-6">
    	{% ifequal f.type "image" %}		
    	<img src="/file/{{f.key.id}}" width="304" height="236" class="img-rounded"/>
    	{% endifequal %}
    	{% ifequal f.type "video" %}
    	<video preload="auto" width="320" height="240" controls="controls"> <source src="/video/{{f.key.id}}" type="{{f.blob.content_type}}"/></video>
    	{% endifequal %}
    	{% ifequal f.type "audio" %}
    	<audio preload="auto" width="320" height="240" controls="controls"> <source src="/video/{{f.key.id}}" type="{{f.blob.content_type}}"/></audio>
    	{% endifequal %}
   
    	</div>
    	<div class = "col-sm-6">
    	<table>
    	<tr><th>Filename</th><td>&nbsp;{{f.blob.filename}}</td></tr>
    <tr><th>Size</th><td>&nbsp;{{f.blob.size}} bytes</td></tr>
    <tr><th>Uploaded At</th><td>&nbsp;&nbsp;{{f.uploaded_at}}</td></tr>
    <tr><th>Uploaded by</th><td>&nbsp;&nbsp;{{f.uploaded_by}}</td></tr>
 	</table>
 	<br><br>
 	<div class ="row">
 	{% ifequal f.type "image" %}
 	<div class="col-sm-3">
 	 <a href="{{f.url}}" target="_blank" class="btn btn-warning">Tranform Image</a></div>
 	{% endifequal %}
 	<div class="col-sm-2">
 	<a href="/file/{{f.key.id}}/download" class="btn btn-warning">Download</a></div>
 	
 	<div class="col-sm-3">
 	<a href="/delete/{{f.key.id}}" class="btn btn-danger">Delete</a></div>
 	
 	</div>
 	</div>
 	</div>
 	<br><br>
 	{% endfor %}
  
</div>
 
</body>
</html>	